.go-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e88f00;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none;  /* Initially hidden */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  .go-to-top-btn.visible {
    display: flex;  /* Show when visible class is added */
  }
  
  .go-to-top-btn:hover {
    background-color: #ffc05c;
  }
  

  @media (max-width: 425px){
    .go-to-top-btn {
     
      width: 38px;
      height: 38px;
      font-size: 20px;
     
    }
  }