/* .App {
  width: 100vw !important;
  overflow-x: hidden;
} */


*{
  transition: all 0.5s;
}

.btn {
  padding: 14px 45px;
  background-color: #e88f00;
  border-radius: 42px;
  color: white;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn p {
  margin: 0;
  color: white;
  font-size: 1.1vw;
}

.btn:hover {
  background-color: #ff9f1c; /* Slightly lighter shade of orange */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for a pop-out effect */
  transform: scale(1.05); /* Slightly enlarges the button */
}

.btn:hover p {
  color: #fffaf0; /* Lighter text color for better contrast */
}

.react-multiple-carousel__arrow {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: rgba(255, 165, 0, 0.7) !important; /* Darker yellow background */
  border: 2px solid #ff8c00 !important; /* Darker yellow border */
  padding: 10px !important;
  cursor: pointer !important;
  z-index: 10 !important;
  transition: background-color 0.3s, transform 0.3s ease !important;
  border-radius: 50% !important;
}

.react-multiple-carousel__arrow--right {
  right: 25px !important;
}

.react-multiple-carousel__arrow--left {
  left: 25px !important;
}

.react-multiple-carousel__arrow:hover {
  background-color: rgba(255, 140, 0, 0.8) !important; /* Darker yellow on hover */
  transform: translateY(-50%) scale(1.1) !important;
}

.react-multiple-carousel__arrow svg {
  width: 20px !important;
  height: 20px !important;
  fill: #ff8c00 !important; /* Darker yellow icon color */
  transition: fill 0.3s ease !important;
}

.react-multiple-carousel__arrow:hover svg {
  fill: #ffd700 !important; /* Brighter yellow icon color on hover */
}


/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #0055af; /* Blue scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Darker blue when hovered */
}
